# Archivos de Maven
target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Archivos temporales
*.tmp
*.temp 